@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

::-webkit-scrollbar {
    width: 1.25rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #e8b931;
    border-radius: 1.25rem;
    border: 0.375rem solid transparent;
    background-clip: content-box;

    &:hover {
        background-color: #8a722d;
    }
}

body {
    margin: 0;
    font-family: Roboto;
}

input {
    outline: none;
}

header {
    margin: 0;
    background: #e8b931;
    padding: 0.5rem 0.5rem;
    border-radius: 0 0 0.8rem 0.8rem;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);

    & .inner-block {
        background: #dadada;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.25rem 0.8rem;
        border-radius: 0.6rem;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);

        & span {
            font-family: Quicksand;
            user-select: none;
            font-size: 1.3rem;
            display: flex;
            align-items: center;
            gap: 0.3rem;

            & svg {
                --logo-size: 2rem;
                width: var(--logo-size);
                height: var(--logo-size);
            }
        }

        & section {
            display: flex;
            align-items: center;
            gap: 1rem;

            & span.material-symbols-outlined {
                color: rgb(50, 50, 50);
                filter: drop-shadow(1px 1px 1px rgb(150, 150, 150));
                font-size: 1.8rem;
                cursor: pointer;
                border-radius: 50%;
                padding: .2rem;
                font-family: 'Material Symbols Outlined';

                &:hover {
                    background: rgb(70, 70, 70);
                    color: rgb(240, 240, 240);
                }
            }

            & input {
                box-shadow: inset 1px 3px 5px 0px rgb(184, 163, 87);
                user-select: none;
                padding: 0 1.2rem;
                height: 2.5rem;
                width: 22rem;
                background: rgba(245, 217, 116, .7);
                border-width: 0;
                border-radius: 1.2rem;
                text-align: center;
    
                &:focus {
                    background: rgb(245, 217, 116);
                }
            }
        }

        & #sorting-block {
            display: none;
            display: flex;
            flex-direction: column;
            position: fixed;
            background: #eeeeee;
            left: 37%;
            top: 5%;
            z-index: 1;
            border-radius: 1.2rem;
            box-shadow: 
                0px 2px 8px 0px rgba(0, 0, 0, .5),
                inset 0px 0px 0px 5px #e8b931,
                inset 1px 1px 5px 5px rgba(0, 0, 0, .5);
            padding: 1.3rem;
            justify-content: center;
            gap: 1.5rem;

            &.enabled {
                display: flex;
            }

            & div {
                display: flex;
                justify-content: space-between;
                gap: 1rem;

                & span {
                    background: rgb(50, 50, 50);
                    color: #fff;
                    padding: .2rem;
                    border-radius: .7rem;
                    font-family: Roboto;
                    cursor: pointer;
                    opacity: .75;
                    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.9);
                    transition: all .2s;

                    &:hover {
                        transition: all .2s;
                        opacity: .8;
                        box-shadow: inset 2px 2px 3px 1px rgba(0, 0, 0, 0.9);
                    }

                    &:first-child {
                        width: 7rem;
                        font-size: 1rem;
                        text-align: center;
                        display: inline;
                        transition: all .2s;
                    }

                    &:last-child {
                        font-family: 'Material Symbols Outlined';
                        padding: .2rem .4rem;
                        border-radius: .7rem;
                        transition: all .2s;

                        &.disabled {
                            pointer-events: none;
                            opacity: .4;
                        }
                    }
                }
            }
        }

        & .add {
            --add-size: 2.2rem;
            width: var(--add-size);
            height: var(--add-size);
            cursor: pointer;
            opacity: 0.75;
            transition: 0.2s;
            border-radius: 50%;

            &:hover {
                opacity: 1;
            }
        }
    }
}

main {
    & ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 1rem;
        margin: 1rem;
        flex-wrap: wrap;

        & li {
            width: 10rem;
            height: 6rem;
            display: flex;
            gap: .5rem;
            border-radius: 1rem;
            cursor: pointer;
            background: #ffe8a3;
            padding: .7rem;
            display: flex;
            justify-content: space-between;
            box-shadow:
                2px 3px 7px rgba(0, 0, 0, .25),
                0 10px 10px rgba(0, 0, 0, .22);
            transition: .3s;

            &:hover {
                transform: scale(1.03);
            }

            & div {
                display: flex;
                flex-direction: column;

                &:first-child {
                    gap: .3rem;

                    & span {
                        &:first-child {
                            font-weight: bold;
                            color: rgb(30 30 30);
                            font-size: 1.1rem;
                        }

                        &:last-child {
                            color: rgb(70 70 70);
                        }
                    }
                }

                &:last-child {
                    justify-content: space-between;
                }
            }

            & .material-symbols-outlined {
                color: rgb(151, 0, 0);
                background: rgb(0 0 0 / .16);
                padding: .3rem;
                border-radius: 50%;
                align-self: end;
                box-shadow: inset 1px 2px 5px 0px rgba(0, 0, 0, .239);
                user-select: none;

                &:hover {
                    background: rgb(190, 190, 190);
                    color: rgba(255, 49, 49, .9);
                }
            }
        }

        & img {
            margin: 0 auto;
            filter: drop-shadow(#525d6d 2px 2px .5px);
            width: 5rem;
        }
    }
}

@keyframes modal-animate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal {
    animation: modal-animate 0.3s;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: #ffe8a3;
    padding: 0.25rem 1rem;
    padding-right: 0.25rem;
    width: 34rem;
    height: 22rem;
    border-radius: 1rem;
    display: flex;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);

    & .inputs {
        padding-top: 1rem;

        & input,
        & textarea {
            background: transparent;
            width: 95%;
            border: 0;
            color: #3d392f;

            &::placeholder {
                color: #8e815a;
            }
        }

        & input {
            font-size: 1.7rem;
            font-weight: bold;

            &::placeholder {
                color: rgba(2, 2, 2, 0.425);
            }
        }

        & textarea {
            height: 80%;
            margin-top: 1rem;
            font-size: 1.4rem;
            resize: none;

            &::placeholder {
                color: rgba(2, 2, 2, 0.425);
            }

            &:focus {
                outline: none;
            }

            &.bold {
                font-weight: bold;
            }

            &.italic {
                font-style: italic;
            }

            &.underline {
                text-decoration: underline;
            }

            &.strikethrough {
                text-decoration: line-through;
            }
        }
    }

    & .panels {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        & .panel {
            background: rgba(0, 0, 0, 0.149);
            box-shadow: inset 1px 3px 2px 0px rgba(0, 0, 0, 0.239);
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            border-radius: 1rem;
            padding: .3rem .2rem;
            transition: .2s;
            user-select: none;

            &:last-child {
                & div {
                    background: #ececec !important;
                    text-align: center;
                    font-size: 1.25rem;

                    &.active {
                        background: rgb(50, 50, 50) !important;
                        color: rgb(245, 245, 245);
                    }

                    &:first-child {
                        font-weight: bold;
                    }

                    &:nth-child(2) {
                        font-style: italic;
                        font-family: monospace;
                    }

                    &:nth-child(3) {
                        text-decoration: underline;
                    }

                    &:last-child {
                        text-decoration: line-through;
                    }
                }
            }

            & div {
                --size: 1.6rem;
                width: var(--size);
                height: var(--size);
                border-radius: 50%;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    transform: scale(1.1);
                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
                    filter: saturate(1.5);
                }

                &:first-child {
                    background: rgb(250, 147, 147);
                }

                &:nth-child(2) {
                    background: rgb(255, 232, 163);
                }

                &:nth-child(3) {
                    background: rgb(194, 255, 173);
                }

                &:nth-child(4) {
                    background: rgb(171, 255, 235);
                }

                &:last-child {
                    background: rgb(214, 161, 255);
                }
            }
        }
    }

    & .note-buttons {
        position: relative;
        /* left: 47%;
        top: 72.5%; */
        background: #ececec;
        border-radius: 1.2rem;
        display: flex;
        gap: 0.8rem;
        padding: 0.1rem 0.15rem;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);

        & svg {
            --size: 1.3rem;
            padding: 0.15rem;
            width: var(--size);
            height: var(--size);
            color: #fff;
            border-radius: 1rem;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                transform: scale(1.07);
                filter: brightness(1.1);
            }

            &:first-child {
                background: #c73434;
            }

            &:last-child {
                background: #34cc59;
            }
        }
    }
}
