@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

::-webkit-scrollbar {
    width: 1.25rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #e8b931;
    border-radius: 1.25rem;
    border: .375rem solid transparent;
    background-clip: content-box;

    &:hover {
        background-color: #8a722d;
    }
}

body {
    margin: 0;
    font-family: Roboto;
}

input {
    outline: none;
}

header {
    margin: 0;
    background: #E8B931;
    padding: .5rem .5rem;
    border-radius: 0 0 .8rem .8rem;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .4);

    & div {
        background: #dadada;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .25rem .8rem;
        border-radius: .6rem;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .4);

        & span {
            font-family: Quicksand;
            font-size: 1.3rem;
            display: flex;
            align-items: center;
            gap: .3rem;

            & svg {
                --logo-size: 2rem;
                width: var(--logo-size);
                height: var(--logo-size);
            }
        }

        & input {
            box-shadow: inset 1px 3px 5px 0px rgba(184, 163, 87, 1);
            padding: 0 1.2rem;
            height: 2.5rem;
            background: rgba(245, 217, 116, .7);
            border-width: 0;
            border-radius: 1.2rem;
            width: 25%;
            text-align: center;
    
            &:focus {
                background: rgb(245, 217, 116);
            }
        }
    
        & .add {
            --add-size: 2.2rem;
            width: var(--add-size);
            height: var(--add-size);
            cursor: pointer;
            opacity: .75;
            transition: .2s;
            border-radius: 50%;

            &:hover {
                opacity: 1;
            }
        }
    }
}

main {
    & ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 1rem;
        margin: 1rem;
        flex-wrap: wrap;

        & li {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            border: .07rem rgb(120, 120, 120) solid;
            border-radius: .7rem;
            padding: 1rem;
            cursor: pointer;

            &:hover {
                background: rgb(240, 240, 240);
                border-color: rgb(70, 70, 70);
            }

            & span {
                &:first-child {
                    font-weight: bold;
                    color: rgb(30, 30, 30);
                    font-size: 1.1rem;
                }

                &:last-child {
                    color: rgb(70, 70, 70);
                }
            }
        }
    }
}

@keyframes modal-animate {
    from { opacity: 0; }
    to { opacity: 1; }
}

.modal {
    animation: modal-animate .3s;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, .4);
    backdrop-filter: blur(2px);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: #ffe8a3;
    padding: .25rem 1rem;
    padding-right: .25rem;
    width: 34rem;
    height: 22rem;
    border-radius: 1rem;
    display: flex;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);

    & .inputs {
        padding-top: 1rem;

        & input, & textarea {
            background: #ffe8a3;
            width: 95%;
            border: 0;
            color: #3d392f;

            &::placeholder {
                color: #8e815a;
            }
        }
    
        & input {
            font-size: 1.7rem;
            font-weight: bold;
        }
        
        & textarea {
            height: 80%;
            margin-top: 1rem;
            font-size: 1.4rem;
            resize: none;
    
            &:focus {
                outline: none;
            }
        }
    }

    & .panels {
        display: flex;
        flex-direction: column;
        gap: .25rem;

        & .panel {
            background: #e8b931;
            box-shadow: inset 1px 3px 2px 0px rgba(178,142,38,1);
            display: flex;
            flex-direction: column;
            gap: .3rem;
            border-radius: 1rem;
            padding: .3rem .2rem;
            transition: .2s;

            &:last-child {
                & div {
                    background: #ececec !important;
                    text-align: center;
                    font-size: 1.25rem;

                    &:first-child {
                        font-weight: bold;
                    }

                    &:nth-child(2) {
                        font-style: italic;
                        font-family: monospace;
                    }

                    &:nth-child(3) {
                        text-decoration: underline;
                    }

                    &:last-child {
                        text-decoration: line-through;
                    }
                }
            }

            & div {
                --size: 1.6rem;
                width: var(--size);
                height: var(--size);
                border-radius: 50%;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .5);
                cursor: pointer;
                transition: .2s;

                &:hover {
                    transform: scale(1.1);
                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .5);
                    filter: saturate(1.5);
                }

                &:first-child {
                    background: #fa9393;
                }

                &:nth-child(2) {
                    background: #ffe8a3;
                }

                &:nth-child(3) {
                    background: #c2ffad;
                }

                &:nth-child(4) {
                    background: #abffeb;
                }

                &:last-child {
                    background: #d6a1ff;
                }
            }
        }
    }

    & .note-buttons {
        position: relative;
        /* left: 47%;
        top: 72.5%; */
        background: #ececec;
        border-radius: 1.2rem;
        display: flex;
        gap: .8rem;
        padding: .1rem .15rem;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .5);

        & svg {
            --size: 1.3rem;
            padding: .15rem;
            width: var(--size);
            height: var(--size);
            color: #fff;
            border-radius: 1rem;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .5);
            cursor: pointer;
            transition: .2s;

            &:hover {
                transform: scale(1.07);
                filter: brightness(1.1);
            }

            &:first-child {
                background: #c73434;
            }
    
            &:last-child {
                background: #34Cc59;
            }
        }
       
    }
}

.note-static {
    background: #ffe8a3;
    padding: .25rem 1rem;
    padding-right: .25rem;
    border-radius: .3rem;
    display: flex;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
}
